<!DOCTYPE html>
<html ng-app='CounterApp'>
<head>
    <meta charset="UTF-8">
    <script src="angular.min.js"></script>
    <script src="appLec24.js"></script>
    <style>body {
        font-size: 1.5em;
    }</style>
    <title>Angular JS</title>
</head>
<body>
<hr>
<h1>This is Angular JS development </h1>

<div ng-controller='ShoppingListController as list'>
      <h3>Shopping List</h3>
      <input type="text" ng-model="list.itemName" placeholder="item name">
      <input type="text" ng-model="list.itemQuantity" placeholder="quantity"> boxes
      <button ng-click="list.addItem();">Add Item</button>
      <ol>
        <li ng-repeat="item in list.items">
          {{ item.quantity }} boxes of {{ item.name }}
          <button ng-click="list.removeItem($index);">Remove Item</button>
        </li>
      </ol>
    </div>


<!--<div ng-controller='CounterController'>
    <button ng-click="showNumberOfWatchers()">
        Log # of Watchers</button>
    <input type="text" ng-model="name">
    <div>
        <button ng-click="countOnce()">Up Once Counter (once)</button>
        <button ng-click="upCounter()">Increment Counter</button>
    </div>
    <div>
        Once counter: {{ onceCounter }} <br>
        Regular counter: {{ counter }}
    </div>
</div>-->
<!--
<h1>Custom Filters</h1>
<div ng-controller='MsgController'>
    Original: {{sayMessage()}} <br>
    Loves: {{ sayLovesMessage() }} <br>
    Truth: {{ sayLovesMessage() | truth : 'healthy' : 'cookie' }} <br>
    BIG TRUTH: {{ sayLovesMessage() | truth : 'healthy' : 'cookie' | uppercase }}
    <div>
        <button ng-click="feedYaakov()">Feed Yaakov</button>
        <br>

        <img ng-src="images/{{stateOfBeing}}.png">
    </div>
</div>



<div ng-controller='MsgController'>
    {{name}} has a message for you: <br>
    {{sayMessage()}}
    <div>
        <button ng-click="feedCostas()">Feed Costas</button>
        Cost: {{cookieCost | currency: "#blah" : 4 }}
        <br>

        <img ng-src="images/{{stateOfBeing}}.png">
    </div>
</div>

<h3>Dependency Injection in Javascript</h3>
<div ng-controller="DIController">
    <input type="text"
            ng-model="name"
            ng-blur="upper();"
    >
</div>
<h2>Use browser synch</h2>
<h3>Sync Works Fine!</h3>
<hr>
<h1>Low Cohesion and Tight Coupling</h1>
<div id="nameCalculator">
    <div>
        Your name: <input type="text" id="name">
    </div>
    <div id="output"></div>
</div>
<div ng-app="myFirstApp">
    <div ng-controller="MyFirstController">
        <input type="text" ng-model="name">
        Inside my input is my name: {{name}}
    </div>
    <div ng-controller="MyFirstController">
        <input type="text" ng-model="sayHello()">
        Inside my input is my name as a function: {{sayHello()}}
    </div>
</div>
<div ng-app="MyNameCalculator">
<h1>Name Calculator</h1>
<div ng-controller="MyNameCalculatorController">
    <div>
        Your name:
        <input type="text"
               ng-model="name"
               ng-keyup="displayNumeric();">
    </div>
    <div>Total Numeric value of person's name is: {{totalValue}}</div>
    {{name}}
</div>
</div>

<div id="target" data-ng-app="myApp">
    <section>Section 1
        <article>Article 1</article>
    </section>
</div>
<script>
    // var elem = document.getElementById('target');
    // console.log(elem);
    //
    // console.log(elem.getAttribute('ng-app'));

    var elem2 = document.querySelector("[ng-app]");
    console.log(elem2);
    console.log(elem2.getAttribute('ng-app'));

</script>
-->
</body>
</html>