<!DOCTYPE html>
<html ng-app='ShoppingListDirectiveApp'>
<head>
    <meta charset="UTF-8">
    <script src="jquery-3.1.0.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="appLec32.js"></script>
    <link rel="stylesheet" href="styles.css">
    <style>body {
        font-size: 1.5em;
    }</style>
    <title>Angular JS</title>
</head>
<body>
<hr>
<h1>This is Angular JS development </h1>
<!--Lec 32-->
<!-- LIST #1 - unlimited items -->
<div id="list" ng-controller='ShoppingListController as list'>
    <div>
        <input type="text" ng-model="list.itemName" placeholder="item name">
        <input type="text" ng-model="list.itemQuantity" placeholder="quantity">
        <button ng-click="list.addItem();">Add Item</button>
        <span>{{list.lastRemoved}}</span>
    </div>

    <shopping-list
            id="list1"
            items="list.items"
            title="{{list.title}}"
            on-remove="list.removeItem(index)">

        <span class="warning">WARNING! WARNING! {{list.warning}}</span>

    </shopping-list>

    <shopping-list
            id="list2"
            items="list.items"
            title="{{list.title}}"
            on-remove="list.removeItem(index)">

        <div>
            <div class="title">OH, THE HORROR!</div>
            <div>{{list.warning}}</div>
        </div>

    </shopping-list>

</div>

<!--Lec 31-->
<!-- LIST #1 - unlimited items -->
<!--<div id="list" ng-controller='ShoppingListController as list'>
    <input type="text" ng-model="list.itemName" placeholder="item name">
    <input type="text" ng-model="list.itemQuantity" placeholder="quantity">
    <button ng-click="list.addItem();">Add Item</button>
    <span>{{list.lastRemoved}}</span>

    <shopping-list
            items="list.items"
            title="{{list.title}}"
            on-remove="list.removeItem(index)"></shopping-list>
</div>-->
<!--Lec 30-->
<!-- LIST #1 - unlimited items -->
<!--<div id="list" ng-controller='ShoppingListController as list'>
    <input type="text" ng-model="list.itemName" placeholder="item name">
    <input type="text" ng-model="list.itemQuantity" placeholder="quantity">
    <button ng-click="list.addItem();">Add Item</button>
    <span>{{ list.lastRemoved }}</span>

    <shopping-list
            items="list.items"
            title="{{list.title}}"
            bad-remove="list.removeItem"
            on-remove="list.removeItem(index)"></shopping-list>

</div>-->
<!--Lec 29-->
<!-- LIST #1 - unlimited items -->
<!--<div id="list" ng-controller='ShoppingListController as list'>
    <input type="text" ng-model="list.itemName" placeholder="item name">
    <input type="text" ng-model="list.itemQuantity" placeholder="quantity">
    <button ng-click="list.addItem();">Add Item</button>

    <shopping-list items="list.items" title="{{list.title}}"></shopping-list>

</div>-->
<!--Lec 28-->
<!-- LIST #1 - unlimited items -->
<!--<div id="list1" ng-controller='ShoppingListController1 as list1'>
    <input type="text" ng-model="list1.itemName" placeholder="item name">
    <input type="text" ng-model="list1.itemQuantity" placeholder="quantity">
    <button ng-click="list1.addItem();">Add Item</button>

    <shopping-list my-list="list1" title="{{list1.title}}"></shopping-list>
    <div ng-if="list1.errorMessage" class="error">Error: {{list1.errorMessage}}</div>
</div>

&lt;!&ndash; LIST #2 (limited to 3 items) &ndash;&gt;
<div id="list2" ng-controller='ShoppingListController2 as list2'>
    <input type="text" ng-model="list2.itemName" placeholder="item name">
    <input type="text" ng-model="list2.itemQuantity" placeholder="quantity">
    <button ng-click="list2.addItem();">Add Item</button>

    <shopping-list my-list="list2" title="Shopping List #2 (limited to 3 items)"></shopping-list>
    <div ng-if="list2.errorMessage" class="error">Error: {{list2.errorMessage}}</div>
</div>-->
<!--&lt;!&ndash;Lec 27&ndash;&gt;
&lt;!&ndash; LIST #1 - unlimited items &ndash;&gt;
<div id="list1" ng-controller='ShoppingListController1 as list'>
    <h3>Shopping List #1</h3>
    <input type="text" ng-model="list.itemName" placeholder="item name">
    <input type="text" ng-model="list.itemQuantity" placeholder="quantity">
    <button ng-click="list.addItem();">Add Item</button>
    <ol>
        <li list-item ng-repeat="item in list.items"></li>
    </ol>
    <div ng-if="list.errorMessage" class="error">Error: {{list.errorMessage}}</div>
</div>

&lt;!&ndash; LIST #2 (limited to 3 items) &ndash;&gt;
<div id="list2" ng-controller='ShoppingListController2 as list'>
    <h3>Shopping List #2 (limited to 3 items)</h3>
    <input type="text" ng-model="list.itemName" placeholder="item name">
    <input type="text" ng-model="list.itemQuantity" placeholder="quantity">
    <button ng-click="list.addItem();">Add Item</button>
    <ol>
        <list-item ng-repeat="item in list.items"></list-item>
    </ol>
    <div ng-if="list.errorMessage" class="error">Error: {{list.errorMessage}}</div>
</div>-->
<!--&lt;!&ndash; LIST #1 - unlimited items &ndash;&gt;
    <div id="list1" ng-controller='ShoppingListController1 as list'>
      <h3>Shopping List #1</h3>
      <input type="text" ng-model="list.itemName" placeholder="item name">
      <input type="text" ng-model="list.itemQuantity" placeholder="quantity">
      <button ng-click="list.addItem();">Add Item</button>
      <ol>
        <list-item ng-repeat="item in list.items"></list-item>
      </ol>
      <div ng-if="list.errorMessage" class="error">Error: {{list.errorMessage}}</div>
    </div>

    &lt;!&ndash; LIST #2 (limited to 3 items) &ndash;&gt;
    <div id="list2" ng-controller='ShoppingListController2 as list'>
      <h3>Shopping List #2 (limited to 3 items)</h3>
      <input type="text" ng-model="list.itemName" placeholder="item name">
      <input type="text" ng-model="list.itemQuantity" placeholder="quantity">
      <button ng-click="list.addItem();">Add Item</button>
      <ol>
        <list-item ng-repeat="item in list.items"></list-item>
      </ol>
      <div ng-if="list.errorMessage" class="error">Error: {{list.errorMessage}}</div>
    </div>-->

<!--    <div ng-controller='MenuCategoriesController as menu'>
      <h3>List of Menu Categories</h3>
      <ul>
        <li ng-repeat="category in menu.categories">
          (<a href="" ng-click="menu.logMenuItems(category.short_name);">{{ category.short_name }}</a>)
          {{ category.name }}
        </li>
      </ul>
    </div>-->

<!--<div ng-controller='ShoppingListController as list'>
      <h3>Shopping List</h3>
      <input type="text" ng-model="list.itemName" placeholder="item name">
      <input type="text" ng-model="list.itemQuantity" placeholder="quantity"> boxes
      <button ng-click="list.addItem();">Add Item</button>
      <ol>
        <li ng-repeat="item in list.items">
          {{ item.quantity }} boxes of {{ item.name }}
          <button ng-click="list.removeItem($index);">Remove Item</button>
        </li>
      </ol>
    </div>-->


<!--<div ng-controller='CounterController'>
    <button ng-click="showNumberOfWatchers()">
        Log # of Watchers</button>
    <input type="text" ng-model="name">
    <div>
        <button ng-click="countOnce()">Up Once Counter (once)</button>
        <button ng-click="upCounter()">Increment Counter</button>
    </div>
    <div>
        Once counter: {{ onceCounter }} <br>
        Regular counter: {{ counter }}
    </div>
</div>-->
<!--
<h1>Custom Filters</h1>
<div ng-controller='MsgController'>
    Original: {{sayMessage()}} <br>
    Loves: {{ sayLovesMessage() }} <br>
    Truth: {{ sayLovesMessage() | truth : 'healthy' : 'cookie' }} <br>
    BIG TRUTH: {{ sayLovesMessage() | truth : 'healthy' : 'cookie' | uppercase }}
    <div>
        <button ng-click="feedYaakov()">Feed Yaakov</button>
        <br>

        <img ng-src="images/{{stateOfBeing}}.png">
    </div>
</div>



<div ng-controller='MsgController'>
    {{name}} has a message for you: <br>
    {{sayMessage()}}
    <div>
        <button ng-click="feedCostas()">Feed Costas</button>
        Cost: {{cookieCost | currency: "#blah" : 4 }}
        <br>

        <img ng-src="images/{{stateOfBeing}}.png">
    </div>
</div>

<h3>Dependency Injection in Javascript</h3>
<div ng-controller="DIController">
    <input type="text"
            ng-model="name"
            ng-blur="upper();"
    >
</div>
<h2>Use browser synch</h2>
<h3>Sync Works Fine!</h3>
<hr>
<h1>Low Cohesion and Tight Coupling</h1>
<div id="nameCalculator">
    <div>
        Your name: <input type="text" id="name">
    </div>
    <div id="output"></div>
</div>
<div ng-app="myFirstApp">
    <div ng-controller="MyFirstController">
        <input type="text" ng-model="name">
        Inside my input is my name: {{name}}
    </div>
    <div ng-controller="MyFirstController">
        <input type="text" ng-model="sayHello()">
        Inside my input is my name as a function: {{sayHello()}}
    </div>
</div>
<div ng-app="MyNameCalculator">
<h1>Name Calculator</h1>
<div ng-controller="MyNameCalculatorController">
    <div>
        Your name:
        <input type="text"
               ng-model="name"
               ng-keyup="displayNumeric();">
    </div>
    <div>Total Numeric value of person's name is: {{totalValue}}</div>
    {{name}}
</div>
</div>

<div id="target" data-ng-app="myApp">
    <section>Section 1
        <article>Article 1</article>
    </section>
</div>
<script>
    // var elem = document.getElementById('target');
    // console.log(elem);
    //
    // console.log(elem.getAttribute('ng-app'));

    var elem2 = document.querySelector("[ng-app]");
    console.log(elem2);
    console.log(elem2.getAttribute('ng-app'));

</script>
-->
</body>
</html>